@model Models.RequestDeleteInfo 
<h1>Success</h1>
<h4>We're already remove and unlink your facebook's data from your account on our system.</h4><br />
<b>Reference Id: </b>@Model.Id<br />
<b>Requested At: </b>@Model.RequestedAt<br />
<br />
If you have any question, please contact <a href="mailto:support.app@bnk48.com">support.app@bnk48.com</a><br />
Talent Connect Co., Ltd.